<div class="container mt-5">

  <!-- show message -->
  <div *ngIf="successmsg" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{successmsg}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" style="text-align:center;">Name</th>
      <th scope="col" style="text-align:center;">Email</th>
      <th scope="col" style="text-align:center;">Phone Number</th>
      <th scope="col" style="text-align:center;">Address</th>
      <th scope="col" style="text-align:center;">Gender</th>
      <th scope="col" style="text-align:center;">Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = 'let us of readData'>
      <th scope="row">{{us.id}}</th>
      <td>{{us.name}}</td>
      <td>{{us.email}}</td>
      <td>{{us.phoneNumber}}</td>
      <td>{{us.address}}</td>
      <td>{{us.gender}}</td>
      <td>
        <div class="button">
          <button class="btn btn-sm btn-danger" (click)="deleteID(us.id)"> Delete</button>
          <!-- &nbsp; -->
          <a [routerLink]="['/create',us.id]" class="btn btn-sm btn-success btn">Update</a>
        </div>
      </td>
    </tr>
  </tbody>
  </table>
</div>
